.update {
    max-width: 780px;
    width: 70%;
    margin: 0 auto;
    &__loading {
        text-align: center;
        font-size: 24px;
        font-weight: 700;
    }

    &__error {
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        color: rgb(219, 96, 96);
    }

    &__title {
        text-align: center;
        font-size: 31px;
        font-weight: 700;
        margin-bottom: 30px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;

        &--content {
            width: 97%;
            min-height: 50px;
            padding: 10px;
            border: 1px solid rgb(51, 51, 51);
            border-radius: 5px;
            background-color: black;
            font-size: 24px;
            color: white;
            resize: none;
            outline: none;

            &::placeholder {
                text-align: center;
                padding-top: 15px;
            }
        }

        &--bottom {
            align-self: flex-end;
            display: flex;
            align-items: center;
            margin: 10px 0;

            &__length {
                margin-right: 10px;
                opacity: 0.7;
            }

            &__undo {
                margin-right: 10px;
                padding: 10px 15px;
                background-color: rgb(29, 161, 242);
                border: none;
                border-radius: 5px;
                color: white;
                font-size: 16px;
                font-weight: 700;
                cursor: pointer;
            }

            &__submit {
                padding: 10px 15px;
                background-color: rgb(29, 161, 242);
                border: none;
                border-radius: 5px;
                color: white;
                font-size: 16px;
                font-weight: 700;
                cursor: pointer;
            }
        }
    }
}
