.header {
    width: 70%;
    margin: 50px auto 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 32px;
    font-weight: 700;

    &__logo {
        width: 50px;
    }

    &__menu {
        display: flex;
        width: 30%;
        justify-content: space-between;
    }
}
