.header {
    max-width: 800px;
    width: 70%;
    margin: 50px auto 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        width: 50px;
    }

    &__menu {
        display: flex;
        width: 30%;
        justify-content: space-between;

        &--logout,
        &--profile {
            font-size: 32px;
            font-weight: 700;

            &:hover {
                opacity: 0.7;
                cursor: pointer;
            }
        }
    }
    &__login {
        font-size: 32px;
        font-weight: 700;

        &:hover {
            opacity: 0.7;
            cursor: pointer;
        }
    }
}
